<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @invite.user_id %>
</p>

<p>
  <strong>Invite email:</strong>
  <%= @invite.invite_email_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @invite.created_by %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @invite.created_date %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @invite.updated_by %>
</p>

<p>
  <strong>Updated date:</strong>
  <%= @invite.updated_date %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
