<%= form_for(@score_card) do |f| %>
  <% if @score_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_card.errors.count, "error") %> prohibited this score_card from being saved:</h2>

      <ul>
      <% @score_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br>
    <%= f.text_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :course_hole_id %><br>
    <%= f.text_field :course_hole_id %>
  </div>
  <div class="field">
    <%= f.label :round_group_member_id %><br>
    <%= f.text_field :round_group_member_id %>
  </div>
  <div class="field">
    <%= f.label :handicap_index %><br>
    <%= f.text_field :handicap_index %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :putts %><br>
    <%= f.number_field :putts %>
  </div>
  <div class="field">
    <%= f.label :fairway_hits %><br>
    <%= f.number_field :fairway_hits %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br>
    <%= f.datetime_select :created_date %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label :updated_date %><br>
    <%= f.datetime_select :updated_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
