<h1>Listing score_cards</h1>

<table>
  <thead>
    <tr>
      <th>Round</th>
      <th>Course hole</th>
      <th>Round group member</th>
      <th>Handicap index</th>
      <th>Score</th>
      <th>Putts</th>
      <th>Fairway hits</th>
      <th>Created by</th>
      <th>Created date</th>
      <th>Updated by</th>
      <th>Updated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @score_cards.each do |score_card| %>
      <tr>
        <td><%= score_card.round_id %></td>
        <td><%= score_card.course_hole_id %></td>
        <td><%= score_card.round_group_member_id %></td>
        <td><%= score_card.handicap_index %></td>
        <td><%= score_card.score %></td>
        <td><%= score_card.putts %></td>
        <td><%= score_card.fairway_hits %></td>
        <td><%= score_card.created_by %></td>
        <td><%= score_card.created_date %></td>
        <td><%= score_card.updated_by %></td>
        <td><%= score_card.updated_date %></td>
        <td><%= link_to 'Show', score_card %></td>
        <td><%= link_to 'Edit', edit_score_card_path(score_card) %></td>
        <td><%= link_to 'Destroy', score_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score card', new_score_card_path %>
