<h1>Listing round_groups</h1>

<table>
  <thead>
    <tr>
      <th>Round</th>
      <th>Group name</th>
      <th>Group type</th>
      <th>Group owner</th>
      <th>Created by</th>
      <th>Created date</th>
      <th>Updated by</th>
      <th>Updated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @round_groups.each do |round_group| %>
      <tr>
        <td><%= round_group.round_id %></td>
        <td><%= round_group.group_name %></td>
        <td><%= round_group.group_type %></td>
        <td><%= round_group.group_owner %></td>
        <td><%= round_group.created_by %></td>
        <td><%= round_group.created_date %></td>
        <td><%= round_group.updated_by %></td>
        <td><%= round_group.updated_date %></td>
        <td><%= link_to 'Show', round_group %></td>
        <td><%= link_to 'Edit', edit_round_group_path(round_group) %></td>
        <td><%= link_to 'Destroy', round_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round group', new_round_group_path %>
