<p id="notice"><%= notice %></p>

<p>
  <strong>Golf club:</strong>
  <%= @golf_course.golf_club_id %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @golf_course.course_name %>
</p>

<p>
  <strong>Course rating:</strong>
  <%= @golf_course.course_rating %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @golf_course.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @golf_course.updated_by %>
</p>

<p>
  <strong>Updated date:</strong>
  <%= @golf_course.updated_date %>
</p>

<%= link_to 'Edit', edit_golf_course_path(@golf_course) %> |
<%= link_to 'Back', golf_courses_path %>
