<h1>Listing rounds</h1>

<table>
  <thead>
    <tr>
      <th>Score card type</th>
      <th>Created by</th>
      <th>Created date</th>
      <th>Updated by</th>
      <th>Updated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.score_card_type_id %></td>
        <td><%= round.created_by %></td>
        <td><%= round.created_date %></td>
        <td><%= round.updated_by %></td>
        <td><%= round.updated_date %></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path %>
