<%= form_for(@round_golf_course) do |f| %>
  <% if @round_golf_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round_golf_course.errors.count, "error") %> prohibited this round_golf_course from being saved:</h2>

      <ul>
      <% @round_golf_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br>
    <%= f.text_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :golf_course_id %><br>
    <%= f.text_field :golf_course_id %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :created_date %><br>
    <%= f.datetime_select :created_date %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label :updated_date %><br>
    <%= f.datetime_select :updated_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
