<h1>Listing favourite_courses</h1>

<table>
  <thead>
    <tr>
      <th>Golf course</th>
      <th>User</th>
      <th>Created by</th>
      <th>Created date</th>
      <th>Updated by</th>
      <th>Updated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourite_courses.each do |favourite_course| %>
      <tr>
        <td><%= favourite_course.golf_course_id %></td>
        <td><%= favourite_course.user_id %></td>
        <td><%= favourite_course.created_by %></td>
        <td><%= favourite_course.created_date %></td>
        <td><%= favourite_course.updated_by %></td>
        <td><%= favourite_course.updated_date %></td>
        <td><%= link_to 'Show', favourite_course %></td>
        <td><%= link_to 'Edit', edit_favourite_course_path(favourite_course) %></td>
        <td><%= link_to 'Destroy', favourite_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favourite course', new_favourite_course_path %>
