<p id="notice"><%= notice %></p>

<p>
  <strong>Golf course:</strong>
  <%= @favourite_course.golf_course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @favourite_course.user_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @favourite_course.created_by %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @favourite_course.created_date %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @favourite_course.updated_by %>
</p>

<p>
  <strong>Updated date:</strong>
  <%= @favourite_course.updated_date %>
</p>

<%= link_to 'Edit', edit_favourite_course_path(@favourite_course) %> |
<%= link_to 'Back', favourite_courses_path %>
