<h1>Listing golf_clubs</h1>

<table>
  <thead>
    <tr>
      <th>Club name</th>
      <th>Created by</th>
      <th>Created date</th>
      <th>Updated by</th>
      <th>Updated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @golf_clubs.each do |golf_club| %>
      <tr>
        <td><%= golf_club.club_name %></td>
        <td><%= golf_club.created_by %></td>
        <td><%= golf_club.created_date %></td>
        <td><%= golf_club.updated_by %></td>
        <td><%= golf_club.updated_date %></td>
        <td><%= link_to 'Show', golf_club %></td>
        <td><%= link_to 'Edit', edit_golf_club_path(golf_club) %></td>
        <td><%= link_to 'Destroy', golf_club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Golf club', new_golf_club_path %>
