<h1>Listing tees</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Created by</th>
      <th>Created date</th>
      <th>Updated by</th>
      <th>Updated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tees.each do |tee| %>
      <tr>
        <td><%= tee.description %></td>
        <td><%= tee.created_by %></td>
        <td><%= tee.created_date %></td>
        <td><%= tee.updated_by %></td>
        <td><%= tee.updated_date %></td>
        <td><%= link_to 'Show', tee %></td>
        <td><%= link_to 'Edit', edit_tee_path(tee) %></td>
        <td><%= link_to 'Destroy', tee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tee', new_tee_path %>
